<div>
    <h1>Carrito de {{user.first_name}}!</h1>
    <button onclick="emptyCart('{{user.cart.id._id}}')">Vaciar Carrito</button>
    <button><a href="http://localhost:8080/products">Volver a Productos</a></button>

    {{#each cart.productsCart}} 
        <p>Titulo: {{this.productID.title}}</p> 
        <p>Descripcion: {{this.productID.description}}</p>
        <p>Codigo: {{this.productID.code}}</p> 
        <p>$ {{this.productID.price}}</p> 
        <p>Stock: {{this.productID.stock}}</p> 
        <p>Cantidad: {{this.quantity}}</p> 
        <button onclick="addToCart('{{this.productID._id}}')">+</button>
        <button onclick="removeQuantity('{{this.productID._id}}')">-</button>
        <button onclick="removeProduct('{{this.productID._id}}')">X</button>
    {{/each}}

    {{#if cart.productsCart.length}}
        <button onclick="purchase('{{user.cart.id._id}}')">Finalizar Compra</button>
    {{/if}}

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>


