<div>

    <h1>Bienvenido {{user.name}}!</h1>
    <p>Correo electronico: {{user.email}}</p>
    <p>edad: {{user.age}}</p>
    <p>rol: {{user.role}}</p>
    <a href="/api/sessions/logout"><button>Cerrar sesion</button></a>
    
    {{#each products}}
        <p>Titulo: {{this.title}}</p>
        <p>Descripcion: {{this.description}}</p>
        <p>Codigo: {{this.code}}</p>
        <p>$ {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoria: {{this.category}}</p>
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    {{/each}}
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"><button>Pagina Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"><button>Pagina Siguiente</button></a>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>

